@charset "UTF-8";

#texto-logo{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: black;
}

#botao-entrar{
   background-color: red;
   color: white;
   border: none;
   font-size: medium;
   padding: 10px;
   border-radius: 9px;
}

#botao-entrar:hover{
    background-color: rgba(255, 0, 0, 0.5);
    transition: all 0.2s;
}
