@charset "UTF-8";

#img-logo{
    width: 45px;
}

#texto-logo{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: black;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20em;
    margin-left: 20em;
}

#logo-container {
    display: flex;
    align-items: center;
}

#botao-entrar{
   background-color: red;
   color: white;
   border: none;
   font-size: medium;
   padding: 10px;
   border-radius: 9px;
}
